@import "tailwindcss";

@theme {
  --color-mystical-violet: #8a2be2;
  --color-celestial-blue: #5d9cec;
  --color-enchanted-gold: #ffd700;
  --color-ethereal-silver: #c0c0c0;
  --color-obsidian-black: #2c2c2c;
  --color-lunar-pearl: #f0e68c;
  --color-forest-emerald: #2be23a;
  --color-crimson-flame: #ec5d70;
  --color-enchanted-wood: #8b5a2b;
}

.font-shadow {
  text-shadow: 2px 2px 5px black;
}

.scrollbar {
  scrollbar-width: none;
}
